html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  position: relative;
  width: 1366px;
  height: 7078px;
  background: #030303;
  overflow-x: hidden;
}
/* scroll to top button */
.totop-btn {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 93%;
  left: 96%;
  color: #f9cc11;
  z-index: 99;
  font-size: 30px;
}

/* Home Section */

.shadow-bg1 {
  background-image: url("./images/homePage.png");
  width: 1541px;
  height: 745px;
  z-index: 1;
}
.home-page {
  background-color: rgba(0, 0, 0, 0.8);
  width: 1366px;
  height: 745px;
  z-index: -1;
}
.navbar {
  background: rgba(2, 2, 2, 0.05);
  border-bottom: 0.5px solid #f5f5f7;
  backdrop-filter: blur(17.5px);
  width: 1364px;
  height: 113px;
  position: fixed;
}
.navbar .logo {
  position: absolute;
  margin-left: 40px;
  margin-top: 37px;
  margin-bottom: 37px;
}
.nav-content .nav-items {
  display: flex;
  list-style: none;
  color: white;
  gap: 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-top: 47px;
  margin-bottom: 44px;
  margin-right: 42px;
}
.navbar {
  position: relative;
}
.nav-content {
  position: absolute;
  right: 0px;
}
.item-1 {
  margin-right: 34px;
}
.item-2 {
  margin-left: 34px;
  margin-right: 34px;
}
.item-3 {
  margin-left: 34px;
}
.nav-items li:first-child::before {
  content: "";
  border: 3px solid #f9cc11;
  transform: rotate(90deg);
  margin-right: 24px;
}
.nav-items a {
  text-decoration: none;
  color: whitesmoke;
}
.hero {
  display: flex;
  position: relative;
}
.hero .social-media {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 194px;
  left: 36px;
  margin-top: 205px;
}
.content-first {
  position: absolute;
  width: 485px;
  height: 73px;
  left: 448px;
  margin-top: 175px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: white;
}
.content-two {
  position: absolute;
  width: 269px;
  height: 36px;
  left: 556px;
  margin-top: 280px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: white;
}
.hero .line {
  position: absolute;
  width: 765px;
  height: 0px;
  left: 308px;
  top: 374px;
  border-top: 7px solid #f9cc11;
  border-radius: 10px;
}
.content-third {
  position: absolute;
  height: 24px;
  left: 607px;
  margin-top: 406px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.rectangle {
  position: absolute;
  width: 26px;
  height: 38px;
  left: 677px;
  margin-top: 517px;
  border: 1.5px solid #fffdfd;
  border-radius: 13px;
}
.line-rectangle {
  position: absolute;
  width: 10px;
  height: 0px;
  left: 684px;
  top: 642px;
  border: 2px solid #ffffff;
  transform: rotate(90deg);
}
.line-right {
  position: absolute;
  width: 17.69px;
  height: 0px;
  left: 689px;
  top: 682px;
  border: 1px solid #ffffff;
  transform: matrix(-0.73, 0.68, 0.68, 0.73, 0, 0);
}
.line-left {
  position: absolute;
  width: 17.69px;
  height: 0px;
  left: 675px;
  top: 682px;
  border: 1px solid #ffffff;
  transform: rotate(42.71deg);
}

/* Experience Section */

.experience {
  position: relative;
  min-width: 1286px;
  min-height: 584px;
  top: 120px;
}
.exp-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 251px;
  height: 68px;
}
.exp-main-title {
  padding-top: 14px;
  width: 251px;
  height: 54px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
}
.exp-sub-title {
  position: absolute;
  right: 3%;
  width: 73.88px;
  height: 22px;
  text-align: end;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.exp-content {
  margin: 64px auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1286px;
  height: 365px;
}
.exp-top-content {
  display: flex;
  justify-content: space-between;
  width: 1286px;
  height: 150px;
}
.exp-bottom-content {
  display: flex;
  justify-content: space-between;
  width: 1286px;
  height: 150px;
}
.exp-view-more {
  width: 104px;
  height: 24px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-decoration-line: underline;
  color: #f9cc11;
  text-align: center;
}
.exp-content .c1,
.exp-content .c2,
.exp-content .c3,
.exp-content .c4 {
  width: 586px;
  height: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #f5f5f7;
}
.c1-top,
.c2-top,
.c3-top,
.c4-top {
  width: 586px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.c1-title,
.c2-title,
.c3-title,
.c4-title {
  width: 63px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #f5f5f7;
}
.c1-date,
.c2-date,
.c3-date,
.c4-date {
  width: 90px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
}
.c1-spacer,
.c2-spacer,
.c3-spacer,
.c4-spacer {
  width: 584px;
  height: 0px;
  border: 1px solid #f9cc11;
  margin-top: 3px;
}
.c1-content,
.c2-content,
.c3-content,
.c4-content {
  margin-top: 17px;
  width: 586px;
  height: 88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
}

/* Specialized-In Section */

.specialized {
  position: relative;
  width: 1286px;
  height: 600.32px;
  top: 150px;
  margin: 92px auto 0px auto;
}
.spec-card {
  width: 1286px;
  height: 376px;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.spec-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 306px;
  height: 68px;
}
.spec-main-title {
  padding-top: 12px;
  width: 306px;
  height: 54px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
}
.spec-sub-title {
  position: absolute;
  right: 3%;
  width: 73.88px;
  height: 22px;
  text-align: end;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.spec-card1 {
  position: relative;
  width: 386px;
  height: 376px;
  background: #1d1c1c;
  backdrop-filter: blur(10px);
  border-radius: 0px 8px 8px 8px;
}
.spec-card-title {
  position: absolute;
  width: 98px;
  height: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #f5f5f7;
  top: 64px;
  left: 35px;
}
.spec-card-content {
  position: absolute;
  width: 318px;
  height: 132px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
  bottom: 64px;
  left: 32px;
}
.spec-card1::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  left: -21%;
  bottom: 78.5%;
  background: #f9cc11;
  transform: rotate(90deg);
}
.spec-card1::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  left: -1.1%;
  top: -4px;
  background: #f9cc11;
}
.spec-point {
  position: absolute;
  margin-top: 65px;
  margin-left: 607px;
  width: 145px;
  height: 13px;
}
#spec-left {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: start;
  margin-left: -468px;
  margin-top: 8.1px;
  color: #f9cc11;
  display: block;
}
#spec-right1 {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: end;
  margin-left: 521px;
  margin-top: 6px;
  color: #f9cc11;
  display: block;
}
.spec-point1 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 105px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
.spec-point2 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 71px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.spec-point3 {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 9.5px;
  left: 30px;
  background: #f9cc11;
}
.spec-point4 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -5px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.spec-point5 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left:-36px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}

/* Clients Section */

.clients {
  position: relative;
  width: 1366px;
  height: 265.32px;
  top: 272px;
  font-family: "Inter";
  text-align: center;
}
.clients-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 251px;
  height: 68px;
}
.clients-main-title {
  padding-top: 13px;
  width: 251px;
  height: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
  margin-left: 5px;
}
.clients-sub-title {
  position: absolute;
  right: 3%;
  width: 73.88px;
  height: 22px;
  text-align: start;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.slide-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}
.slide-image .slide-img {
  justify-content: space-between;
}
#Layer1 {
  width: 177px;
  height: 57.03px;
}
#Layer2 {
  width: 147px;
  height: 31.03px;
}
#Layer3 {
  width: 144.04px;
  height: 44.45px;
}
#Layer4 {
  width: 150px;
  height: 18px;
}
#Layer5 {
  width: 151px;
  height: 54.41px;
}
#Layer6 {
  width: 194px;
  height: 34.39px;
}
.point {
  width: 145px;
  height: 13px;
  margin: 0 auto;
  position: absolute;
  margin-top: 100px;
  margin-left: 607px;
}
#left {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: start;
  margin-left: -429px;
  margin-top: 28.1px;
  color: #f9cc11;
  display: block;
}
#right1 {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: end;
  margin-left: 563px;
  margin-top: 30.5px;
  color: #f9cc11;
  display: block;
}
.point1 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 144px;
  top: 30.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
.point2 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 111px;
  top: 30.5px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.point3 {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 30.5px;
  left: 73.5px;
  background: #f9cc11;
}
.point4 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 43px;
  top: 30.5px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.point5 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 10px;
  top: 30.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}

/* Achievement Section */

.Achievement {
  margin: 0 auto;
  position: relative;
  width: 1006px;
  height: 717px;
  text-align: center;
  font-family: "Inter";
  top: 342px;
}
.Achievement-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 292px;
  height: 68px;
}
.Achievement-main-title {
  padding-top: 13px;
  width: 292px;
  height: 54px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
  margin-left: 3.5px;
}
.Achievement-sub-title {
  position: absolute;
  left: 260px;
  width: 73.88px;
  height: 22px;
  text-align: start;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #f9cc11;
}
.Achievement-inside .title {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 24px;
  top: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #f5f5f7;
}
.line1 {
  position: absolute;
  width: 106px;
  height: 0px;
  right: 950px;
  top: 175px;
  border: 2px solid #f9cc11;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.title {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 24px;
  top: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #f5f5f7;
}
.commit1 {
  position: absolute;
  width: 982px;
  height: 40px;
  left: 24px;
  top: 170px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #acacae;
}
.date1 {
  position: absolute;
  width: 90px;
  height: 22px;
  left: 940px;
  top: 122px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f9cc11;
}
.line2 {
  position: absolute;
  width: 106px;
  height: 0px;
  right: 950px;
  top: 400px;
  border: 2px solid #f9cc11;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.title2 {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 24px;
  top: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #f5f5f7;
}
.commit2 {
  position: absolute;
  width: 982px;
  height: 66px;
  left: 24px;
  top: 395px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #acacae;
}
.date2 {
  position: absolute;
  width: 90px;
  height: 22px;
  left: 940px;
  top: 349px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f9cc11;
}
.line3 {
  position: absolute;
  width: 106px;
  height: 0px;
  right: 950px;
  top: 600px;
  border: 2px solid #f9cc11;
  transform: rotate(90deg);
}
.title3 {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 24px;
  top: 536px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #f5f5f7;
}
.commit3 {
  position: absolute;
  width: 982px;
  height: 66px;
  left: 24px;
  top: 595px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #acacae;
}
.date3 {
  position: absolute;
  width: 90px;
  height: 22px;
  left: 940px;
  top: 548px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f9cc11;
}
.view {
  position: absolute;
  left: 1%;
  right: 0%;
  top: 680px;
  bottom: 0%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #f9cc11;
}

/* Videos Section */ 

.videos {
  position: relative;
  width: 1287px;
  height: 1046px;
  left: 40px;
  top: 92px;
}
.vid-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 155px;
  height: 68px;
}
.vid-main-title {
  padding-top: 14px;
  width: 155px;
  height: 54px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
}
.vid-sub-title {
  position: absolute;
  right: 3%;
  width: 38px;
  height: 22px;
  text-align: end;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.vid-navbar {
  position: relative;
  margin: 64px 226px 64px 207px;
  display: flex;
  width: 854px;
  height: 26px;
  justify-content: space-between;
}
.vid-nav-item1 {
  width: 98px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #f5f5f7;
}
.vid-nav-item2 {
  width: 134px;
  height: 22px;
}
.vid-nav-item3 {
  width: 124px;
  height: 22px;
}
.vid-nav-item4 {
  width: 75px;
  height: 22px;
}
.vid-nav-item5 {
  width: 86px;
  height: 22px;
}
.vid-nav-button {
  position: relative;
  top: 20%;
  width: 17px;
  height: 16.29px;
  color: yellow;
}
.vid-nav-button i {
  position: absolute;
  bottom: 0.9px;
}
.vid-nav-item2,
.vid-nav-item3,
.vid-nav-item4,
.vid-nav-item5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 15.8px;
  line-height: 22px;
  color: #acacae;
}
.vid-nav-line {
  position: absolute;
  width: 60px;
  height: 0px;
  border: 2px solid #f9cc11;
  transform: rotate(180deg);
  bottom: -4px;
  border-radius: 3px;
}
.vid-content {
  position: relative;
  width: 1287px;
  height: 736px;
  margin: 0 auto;
}
.vid-cont-1 {
  width: 833px;
  height: 475px;
}
.vid-cont-1 .main {
  background-image: url("./images/vid-1.png");
  width: 833px;
  height: 416px;
}
.vid-cont-1 .player {
  background-image: url("./images/player.svg");
  width: 833px;
  height: 59px;
  border-radius: 0px 0px 5px 5px;
}
.vid-cont-2,
.vid-cont-3,
.vid-cont-4 {
  width: 389px;
  height: 213.55px;
}
.vid-cont-2 {
  background-image: url("./images/vid-2.png");
  top: 0%;
  right: 0%;
  position: absolute;
}
.vid-cont-3 {
  background-image: url("./images/vid-3.png");
  top: 261px;
  right: 0%;
  position: absolute;
}
.vid-cont-4 {
  background-image: url("./images/vid-4.png");
  top: 522px;
  right: 0%;
  position: absolute;
}
.vid-cont-5 {
  background-image: url("./images/vid-5.png");
  bottom: 0%;
  right: 454px;
  width: 389px;
  height: 213px;
  position: absolute;
}
.vid-cont-6 {
  background-image: url("./images/vid-6.png");
  bottom: 0%;
  width: 389px;
  height: 213px;
  position: absolute;
}
.videos .view {
  top:  800px;
  left: 590px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

/* Portfolio Section  */

.portfolio {
  position: relative;
  max-width: 1366px;
  height: 650.32px;
  top: 150px;
}
.por-title {
  position: absolute;
  width: 190px;
  height: 54px;
  left: 567px;
  top: 3px;
  font-family: "Inter";
  font-style: normal;
  font-size: 35px;
  line-height: 54px;
  text-transform: capitalize;
  color: #f5f5f7;
}
.por-nav {
  list-style-type: none;
}
.por-li1 {
  position: absolute;
  width: 108px;
  height: 22px;
  left: 328px;
  top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #f5f5f7;
}
.por-li1::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 0px;
  left: 1px;
  top: 28px;
  border: 1px solid #f9cc11;
  transform: rotate(180deg);
}
.por-li2 {
  position: absolute;
  width: -1px;
  height: 22px;
  left: 500px;
  top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
}
.por-li3 {
  position: absolute;
  width: -1px;
  height: 22px;
  left: 660px;
  top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
}
.por-li4 {
  position: absolute;
  width: 158px;
  height: 22px;
  left: 837px;
  top: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #acacae;
}
.por-slider-img1 .por-view {
  display: flex;
  justify-content: space-between;
}
.por-slider-img1 {
  margin-top: 65px;
  position: absolute;
  width: 404px;
  height: 254px;
  left: 686px;
  top: 200px;
  background: #1d1c1cba;
  border-radius: 8px;
}
.por-slider-img1 p {
  width: 164px;
  height: 22px;
  padding-left: 16px;
  top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #f5f5f7;
}
.por-slider-img1 .por-view a {
  position: absolute;
  width: 50px;
  height: 22px;
  left: 337px;
  top: 215px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f9cc11;
}
.por-slider-img1 .por-view a::after {
  position: absolute;
  width: 1px;
  height: 7px;
  top: 7px;
  left: 48px;
  content: "";
  display: inline-block;
  transform: rotate(126deg);
  background: #f9cc11;
}
.por-slider-img1 .por-view a::before {
  position: absolute;
  width: 1px;
  height: 7px;
  left: 48px;
  top: 11px;
  background: #f9cc11;
  content: "";
  display: inline-block;
  transform: rotate(43deg);
}
.por-slider-img1 .por-view::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 0px;
  left: 339px;
  top: 237px;
  border: 1px solid #f9cc11;
  transform: rotate(180deg);
}
.por-slider-img2 {
  margin-top: 65px;
  position: absolute;
  width: 404px;
  height: 254px;
  left: -465px;
  top: -65px;
  background: #1d1c1cba;
  border-radius: 8px;
}
.por-slider-flex {
  display: flex;
  justify-content: space-around;
}
.por-slider-img3 {
  position: absolute;
  width: -130px;
  height: 256px;
  left: 867px;
  top: 0px;
  /* background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%); */
}
.por-slider-img4 {
  position: absolute;
  width: 302px;
  height: 256px;
  left: -280px;
  top: 0px;
  text-shadow: blur;
  background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%);
}
#pro-left {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: start;
  margin-left: -429px;
  margin-top: 553px;
  color: #f9cc11;
  display: block;
}
#pro-right1 {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: end;
  margin-left: 521px;
  margin-top: 553px;
  color: #f9cc11;
  display: block;
}
.pro-point1 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 145px;
  top: 553px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
.pro-point2 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 110px;
  top: 553px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.pro-point3 {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 553px;
  left: 70px;
  background: #f9cc11;
}
.pro-point4 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 35px;
  top: 553px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.pro-point5 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 3px;
  top: 553px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
.portfolio .spec-sub-title {
  left: 691px;
  top: 18px;
}

/* Biography Section  */

.Biography {
  position: relative;
  display: flex;
  justify-content: center;
  top: 180px;
}
.Biography .first-text {
  display: flex;
  top: 0px;
  justify-content: center;
  color: white;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
}
.part-two {
  display: flex;
}
.part-two .text-left {
  position: absolute;
  width: 858px;
  height: 404px;
  left: 42px;
  top: 188px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.08em;
  color: #f5f5f7;
}
.bio-img {
  position: absolute;
  width: 362px;
  height: 476px;
  left: 964px;
  top: 100px;
  margin-top: 65px;
}

/* Let's Talk Section */

.contact {
  position: relative;
  width: 1008px;
  height: 843px;
  margin: 0px 181px 0px 177px;
  top: 769px;
}
.cont-title {
  position: relative;
  margin: 0 auto 64px auto;
  text-align: start;
  width: 206px;
  height: 76px;
  right: 15px;
}
.cont-main-title {
  padding-top: 22px;
  width: 206px;
  height: 54px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 54px;
  color: #f5f5f7;
}
.cont-sub-title {
  position: absolute;
  left: 73px;
  width: 126px;
  height: 22px;
  text-align: end;
  font-family: "Inter";
  font-weight: 300;
  font-size: 13px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.cont-main {
  width: 1008px;
  height: 703px;
}
.cont-input {
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between;
  width: 1006px;
  height: 48px;
}
.cont-input-left,
.cont-input-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 403px;
  height: 47px;
  background: linear-gradient(
    102.21deg,
    rgba(187, 187, 187, 0.2) 1.03%,
    rgba(121, 121, 121, 0) 100%
  );
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #f9cc11;
}
.email,
.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: rgba(217, 217, 217, 0.5);
}
.text-field {
  width: 1006px;
  height: 468px;
  background: linear-gradient(
    102.21deg,
    rgba(187, 187, 187, 0.2) 1.03%,
    rgba(121, 121, 121, 0) 100%
  );
  backdrop-filter: blur(10px);
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    #f9cc11 0%,
    rgba(249, 204, 17, 0.3) 100%
  );
}
.text-title {
  width: 357px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 64px;
  margin: 0px 326px 32px 323px;
}
.text-sub-title {
  margin: 0 auto;
  width: 539px;
  height: 62px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: rgba(217, 217, 217, 0.6);
}
.cont-button {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  background: #f9cc11;
  border-radius: 10px;
}

/* Footer Section  */ 

.footer {
  position: relative;
  margin-top: 63px;
  margin-bottom: 22px;
  width: 1366px;
  height: 223px;
  top: 730px;
}
.footer-content {
  position: relative;
  top: 35px;
  width: 1013px;
  height: 114.15px;
  margin: 0 auto;
}
.footer-email {
  position: absolute;
  width: 334px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #acacae;
}
.footer-text {
  position: absolute;
  right: 68px;
  width: 201px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #acacae;
}
.footer-phone {
  position: absolute;
  bottom: 0px;
  width: 310px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #acacae;
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 324px;
  height: 42.16px;
  bottom: 0px;
  right: 0px;
}
.footer-social-1,
.footer-social-2,
.footer-social-3,
.footer-social-4,
.footer-social-5 {
  width: 44px;
  height: 42.16px;
}
.footer-spacer {
  margin-top: 65px;
  margin-bottom: 23px;
  width: 1366px;
  border: 1px solid #ffffff;
  transform: rotate(180deg);
}
.footer-copyright {
  width: 357px;
  height: 22px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #acacae;
}


.shadow-bg {
  position: absolute;
  width: 1366px;
  height: 3702px;
  background-repeat: no-repeat;
  background-image: url("./images/shadow-bg.png");
  top: 3376px;
}
.overlay-bg {
  width: 1483.25px;
  height: 1022.11px;
  background: linear-gradient(180deg, #030303 0%, rgba(3, 3, 3, 0) 71.84%);
}

