body {
  margin: 0px;
  position: relative;
  width: 1366px;
  height: 7078px;
  background: #030303;
}


.home-page {
  background-image: url('/assets/images/homePage.png');
  width: 100vw;
  height: 100vh;
}

.navbar {
  background: rgba(2, 2, 2, 0.05);
  border: 0.5px solid #F5F5F7;
  backdrop-filter: blur(17.5px);
  width: 1366px;
  height: 113px;
  position: fixed;
}

.navbar .logo {
  position: absolute;
  margin-left: 40px;
  margin-top: 37px;
  margin-bottom: 37px;
}

.nav-content .nav-items {
  display: flex;
  list-style: none;
  color: white;
  gap: 1px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-top: 47px;
  margin-bottom: 44px;
  margin-right: 42px;
}

.navbar {
  position: relative;
}

.nav-content {
  position: absolute;
  right: 0px;
}

.item-1 {
  margin-right: 34px;
}

.item-2 {
  margin-left: 34px;
  margin-right: 34px;
}

.item-3 {
  margin-left: 34px;
}

.nav-items li:first-child::before {
  content: "";
  border: 3px solid #F9CC11;
  transform: rotate(90deg);
  margin-right: 24px;
}

.nav-items a {
  text-decoration: none;
  color: whitesmoke;
}

.hero {
  display: flex;
  position: relative;
}

.hero .social-media {
  position: absolute;
  width: 32px;
  height: 194px;
  left: 36px;
  margin-top: 205px;
}

.content-first {
  position: absolute;
  width: 485px;
  height: 73px;
  left: 448px;
  margin-top: 175px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: white;
}

.content-two {
  position: absolute;
  width: 269px;
  height: 36px;
  left: 556px;
  margin-top: 280px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: white;
}

.hero .line {
  position: absolute;
  width: 765px;
  height: 0px;
  left: 308px;
  top: 374px;
  border-top: 7px solid #F9CC11;
  border-radius: 10px;
}

.content-third {
  position: absolute;
  /* width: 167px;*/
  height: 24px;
  left: 607px;
  margin-top: 406px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.rectangle {
  position: absolute;
  width: 26px;
  height: 38px;
  left: 677px;
  margin-top: 460px;
  border: 1.5px solid #FFFDFD;
  border-radius: 13px;
}

.line-rectangle {
  position: absolute;
  width: 10px;
  height: 0px;
  left: 685px;
  top: 583px;
  border: 2px solid #FFFFFF;
  transform: rotate(90deg);
}

.line-right {
  position: absolute;
  width: 17.69px;
  height: 0px;
  left: 688px;
  top: 628px;
  border: 1.5px solid #FFFFFF;
  transform: matrix(-0.73, 0.68, 0.68, 0.73, 0, 0);
}

.line-left {
  position: absolute;
  width: 17.69px;
  height: 0px;
  left: 673px;
  top: 628px;
  border: 1.5px solid #FFFFFF;
  transform: rotate(42.71deg);
}

.experience {
  position: relative;
  min-width: 1286px;
  min-height: 584px;
  top: 905px;
  background-color: red;
}

.exp-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 251px;
  height: 68px;
}
.exp-main-title {
  padding-top: 14px;
  width: 251px;
  height: 54px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
}
.exp-sub-title {
  position: absolute;
  right: 3%;
  width: 73.88px;
  height: 22px;
  text-align: end;
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}

.exp-content {
  margin: 64px auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: blue;
  width: 1286px;
  height: 365px;
}

.exp-top-content {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  width: 1286px;
  height: 150px;
}
.exp-bottom-content {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  width: 1286px;
  height: 150px;
}
.exp-view-more {
  background-color: gray;
  width: 104px;
  height: 24px;
}

.exp-content .c1,
.exp-content .c2,
.exp-content .c3,
.exp-content .c4 {
  width: 586px;
  height: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #f5f5f7;
  text-transform: capitalize;
}
.exp-content .c1,
.exp-content .c3 {
  background-color: wheat;
}

.exp-content .c2,
.exp-content .c4 {
  background-color: yellow;
}

.exp-view-more {
  margin: 0 auto;
 
}

.exp-view-more p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
/* font-size: 20px; */
line-height: 24px;
letter-spacing: 0.04em;
text-decoration-line: underline;
  color: #F9CC11;
  width:104px ;
  height:24px ;
  margin: auto;
  text-align: center; 
}


.specialized {
  position: relative;
  width: 1286px;
height: 583.32px;
top: 1581px;

}
.spec-title {
  margin-top: 15px;
  position: absolute;
  width: 310px;
  height: 54px;
  left: 530px;
  /* top: 1591px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;

  color: #FFFFFF;
}

.spec-card1 {
  margin: 10px;
  margin-top: 30px;
  position: relative;
  width: 382px;
  height: 372px;
  left: 23px;
  top: 130px;
  margin-right: 70px;
  margin-left: 15px;
  /* top: 1713px; */
  background: #1D1C1C;
  backdrop-filter: blur(10px);
  border-radius: 0px 8px 8px 8px;
  /* top: 1777px; */
  font-family: "Inter";
  font-weight: 18;
  font-size: 1rem;
  line-height: 20px;
  font-style: normal;

  color: #F5F5F7;
}

.spec-card1 h3 {
  font-size: 1.5rem;
  line-height: 20px;
  padding: 64px 249px 0px 35px;
}

.spec-card1 p {
  padding: 32px 32px 64px 32px;
  font-weight: 1;
}

.spec-card1::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  left: -22%;
  bottom: 79.5%;
  /* top: 1709px; */
  background: #F9CC11;
  transform: rotate(90deg);

}

.spec-card1::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  left: -1%;
  bottom: 100%;
  /* top: 1709px; */
  background: #F9CC11;


}

.spec-card {
  display: flex;
  justify-content: space-between;
  justify-items: center;

}

.spec-circle1 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 748px;
  top: 600px;
  /* top: 2153px;  */
  border: 1px solid rgba(249, 204, 17, 0.3);
}

.spec-circle2 {

  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 714px;
  top: 600px;
  /* top: 2152px; */
  border: 1px solid rgba(249, 204, 17, 0.6);
}

.spec-circle3 {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  left: 677px;
  top: 600px;
  /* top: 2150px; */
  background: #F9CC11;
}

.spec-circle4 {

  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 643px;
  top: 600px;
  /* top: 2152px; */
  border: 1px solid rgba(249, 204, 17, 0.6);
}

.spec-circle5 {

  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 611px;
  top: 600px;
  /* top: 2153px; */
  border: 1px solid rgba(249, 204, 17, 0.3);
}

.spec-right-arrow::after {
  position: absolute;
  width: 1px;
  height: 15px;
  left: 1202px;
  right: 148px;
  top: 600px;
  bottom: 100px;
  content: "";
  display: inline-block;
  transform: rotate(43deg);
  /* left: 13.18%;
  right: 86.23%;
  top: 30.36%;
  bottom: 69.42%; */
  background: #F9CC11;
}

.spec-right-arrow::before {
  position: absolute;
  width: 1px;
  height: 15px;
  left: 1202px;
  right: 148px;
  top: 589px;
  bottom: 100px;
  /* left: 86.83%; */
  /* right: 12.59%; */
  /* top: 30.58%; */
  /* bottom: 69.21%; */
  background: #F9CC11;
  content: "";
  display: inline-block;
  transform: rotate(140deg);
}

.spec-left-arrow::after {
  position: absolute;
  width: 1px;
  height: 15px;
  left: 148px;
  right: 1000px;
  top: 600px;
  bottom: 100px;
  content: "";
  display: inline-block;
  transform: rotate(-43deg);
  /* left: 13.18%;
right: 86.23%;
top: 30.36%;
bottom: 69.42%; */
  background: #F9CC11;
}
.spec-left-arrow::before {
  position: absolute;
  width: 1px;
  height: 15px;
  left: 148px;
  right: 1000px;
  top: 589px;
  bottom: 100px;
  content: "";
  display: inline-block;
  transform: rotate(-140deg);
  /* left: 13.18%;
  right: 86.23%;
  top: 30.36%;
  bottom: 69.42%; */
  background: #F9CC11;
}

/* ---------------------------------------------clients-------------------- */

.clients {
  position: relative;
  width: 1413px;
  height: 265.32px;
  left: -23px;
  top: 2257px;
  font-family: "Inter";
  text-align: center;
}
.clients-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 251px;
  height: 68px;
}
.clients-main-title {
  padding-top: 13px;
  width: 251px;
  height: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
  margin-left: 5px;
}
.clients-sub-title {
  position: absolute;
  right: 3%;
  width: 73.88px;
  height: 22px;
  text-align: start;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #f9cc11;
}
.slide-image {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px;
}
.slide-image .slide-img {
  justify-content: space-between;
}
#Layer1 {
  width: 177px;
  height: 57.03px;
}
#Layer2 {
  width: 147px;
  height: 31.03px;
}
#Layer3 {
  width: 144.04px;
  height: 44.45px;
}
#Layer4 {
  width: 149.99px;
  height: 17.62px;
}
#Layer5 {
  width: 151px;
  height: 54.41px;
}
#Layer6 {
  width: 194px;
  height: 34.39px;
}
.point {
  width: 145px;
  height: 13px;
  margin: 0 auto;
  position: relative;
}
#left {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: start;
  margin-left: -470px;
  margin-top: 4px;
  color: #F9CC11;
}
#right1 {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: end;
  margin-left: 470px;
  margin-top: 4px;
  color: #F9CC11;
}
.point0 {
  color: #F9CC11;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: circle;
  justify-content: space-between;
}
.point1 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 145px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
.point2 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 110px;
  top: 9px;
  border: 1px solid rgba(249, 204, 17, 0.6);
}
.point3 {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 7px;
  left: 70px;
  background: #F9CC11;
}
.point4 {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 35px;
  top: 9px;
  border: 1px solid rgba(249, 204, 17, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.point5 {

  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 3px;
  top: 9.5px;
  border: 1px solid rgba(249, 204, 17, 0.3);
}
/*------------------------------------------------ end clients-------------------- */

/* ------------------------------------------------Achievement--------------------------- */
.Achievement {
  position: absolute;
  width: 1006px;
  height: 588px;
  left: 180px;
  text-align: center;
  font-family: "Inter";
  top: 2744px;
}
.Achievement-title {
  position: relative;
  margin: 0 auto;
  text-align: start;
  width: 251px;
  height: 68px;
}
.Achievement-main-title {
  padding-top: 13px;
  width: 251px;
  height: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #f5f5f7;
  margin-left: 5px;
}
.Achievement-sub-title {
  position: absolute;
  left: 250px;
  width: 73.88px;
  height: 22px;
  text-align: start;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #f9cc11;
}
.Achievement-inside .title {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 40px;
  top: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #F5F5F7;
}
.line1 {
  position: absolute;
  width: 109px;
  height: 0px;
  right: 920px;
  top: 200px;
  border: 2px solid #F9CC11;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.title {
  position: absolute;
  width: 386px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #F5F5F7;
  margin-left: 24px;
  top: 110px;
}
.commit1 {
  position: absolute;
  width: 982px;
  height: 66px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ACACAE;
  margin-top: 127px;
  margin-left: 65px;
  text-align: start;
}
.date1 {
  position: absolute;
  width: 90px;
  height: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #F9CC11;
  margin-top: 80px;
  margin-left: 465px;
  text-align: start;
}
.line2 {
  position: absolute;
  width: 109px;
  height: 0px;
  right: 920px;
  top: 400px;
  border: 2px solid #F9CC11;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.title2 {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 65px;
  top: 310px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #F5F5F7;
}
.commit2 {
  position: absolute;
  width: 982px;
  height: 66px;
  left: 65px;
  top: 375px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #ACACAE;
}
.date2 {
  position: absolute;
  width: 90px;
  height: 22px;
  left: 965px;
  top: 348px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #F9CC11;
}
.line3 {
  position: absolute;
  width: 109px;
  height: 0px;
  right: 920px;
  top: 600px;
  border: 2px solid #F9CC11;
  transform: rotate(90deg);
}
.title3 {
  position: absolute;
  width: 386px;
  height: 40px;
  left: 65px;
  top: 510px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #F5F5F7;
}
.commit3 {
  position: absolute;
  width: 982px;
  height: 66px;
  left: 65px;
  top: 570px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ACACAE;
}
.date3 {
  position: absolute;
  width: 90px;
  height: 22px;
  left: 965px;
  top: 548px;
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #F9CC11;
}
.view {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 700px;
  bottom: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #F9CC11;
}
/* -------------------------------end Achievement---------------- */






/* ---------portfolio

    /* background: url(/assets/img/andrej-lisakov-g3z-CgUiPtg-unsplash\ 3@2x.png);
    background-color: rgb(14 13 13 / 100%); */ 

    .portfolio {
      position: relative;
      max-width: 1366px;
      height: 558.32px;
      top: 4562px;

    }

    .por-title{
      position: absolute;
      width: 190px;
      height: 54px;
      left: 567px;
      top: 3px;
      /* top: 4576px; */
      font-family: inter;
      font-style: normal;
      font-size: 35px;
      line-height: 54px;
      text-transform: capitalize;
      color: #F5F5F7;
  
  
  }
  
  .por-nav {
      list-style-type: none;
  }
  
  .por-li1 {
  
      position: absolute;
      width: 108px;
      height: 22px;
      left: 328px;
      top: 150px;
      /* top: 4694px; */
  
      font-family: inter;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #F5F5F7;
  
  }
  
  .por-li1::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 0px;
      left: 1px;
      top: 28px;
      /* top: 4720px; */
      border: 1px solid #F9CC11;
      transform: rotate(180deg);
  }
  
  .por-li2 {
  
      position: absolute;
      width: 96px;
      height: 22px;
      left: 500px;
      top: 150px;
      /* top: 4694px; */
      font-family: inter;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #ACACAE;
  
  }
  
  .por-li3 {
      position: absolute;
      width: 113px;
      height: 22px;
      left: 660px;
      top: 150px;
      /* top: 4694px; */
      font-family: inter;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #ACACAE;
  }
  
  .por-li4 {
  
      position: absolute;
      width: 158px;
      height: 22px;
      left: 837px;
      top: 150px;
      /* top: 4694px; */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: #ACACAE;
  }
  
  .por-slider-img1 .por-view {
      display: flex;
      justify-content: space-between;
  }
  
  .por-slider-img1 {
      margin-top: 65px;
      position: absolute;
      width: 404px;
      height: 254px;
      left: 686px;
      top: 200px;
      /* top: 4786px; */
      background: #1d1c1cba;
      border-radius: 8px;
  }
  
  .por-slider-img1 p {
      /* position: absolute; */
      width: 164px;
      height: 22px;
      /* left: 694px; */
      /* top: 5002px; */
      padding-left: 16px;
      top: 5px;
      font-family: inter;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #F5F5F7;
  
  }
  
  .por-slider-img1 .por-view a {
  
      position: absolute;
      width: 50px;
      height: 22px;
      left: 337px;
      top: 219px;
      text-decoration: none;
      /* left: 1016px;
  top: 5002px; */
      font-family: inter;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #F9CC11;
  }
  
  .por-slider-img1 .por-view a::after {
      position: absolute;
      width: 1px;
      height: 7px;
      top: 7px;
      left: 48px;
      content: "";
      display: inline-block;
      transform: rotate(126deg);
      background: #F9CC11;
  }
  
  .por-slider-img1 .por-view a::before {
  
      position: absolute;
      width: 1px;
      height: 7px;
      left: 48px;
      top: 11px;
      background: #F9CC11;
      content: "";
      display: inline-block;
      transform: rotate(43deg);
  }
  
  .por-slider-img1 .por-view::before {
      position: absolute;
      content: "";
      width: 48px;
      height: 0px;
      left: 339px;
      top: 241px;
      /* top: 4720px; */
      border: 1px solid #F9CC11;
      transform: rotate(180deg);
  }
  
  .por-slider-img2 {
      margin-top: 65px;
      position: absolute;
      width: 404px;
      height: 254px;
      left: -448px;
      top: -65px;
      /* top: 4786px; */
      background: #1d1c1cba;
      border-radius: 8px;
  }
  
  .por-slider-flex {
      display: flex;
      justify-content: space-around;
  
  }
  
  .por-slider-img3 {
  
      position: absolute;
      width: 324px;
      height: 256px;
      left: 897px;
      top: 0px;
      /* top: 5040px; */
  
      background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%);
  
  
  }
  
  .por-slider-img4 {
  
      position: absolute;
      width: 302px;
      height: 256px;
      left: -366px;
      top: 0px;
      /* top: 4784px; */
      Text-shadow: blur;
      background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%);
  
  
  }
  
  
  
  .por-circle .por-circle1 {
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      width: 8px;
      height: 8px;
      left: 748px;
      top: 600px;
      /* top: 2153px;  */
      border: 1px solid rgba(249, 204, 17, 0.3);
  }
  
  .por-circle .por-circle2 {
  
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      width: 10px;
      height: 10px;
      left: 714px;
      top: 600px;
      /* top: 2152px; */
      border: 1px solid rgba(249, 204, 17, 0.6);
  }
  
  .por-circle .por-circle3 {
      position: absolute;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      left: 677px;
      top: 600px;
      /* top: 2150px; */
      background: #F9CC11;
  }
  
  .por-circle .por-circle4 {
  
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      width: 10px;
      height: 10px;
      left: 643px;
      top: 600px;
      /* top: 2152px; */
      border: 1px solid rgba(249, 204, 17, 0.6);
  }
  
  .por-circle .por-circle5 {
  
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      width: 8px;
      height: 8px;
      left: 611px;
      top: 600px;
      /* top: 2153px; */
      border: 1px solid rgba(249, 204, 17, 0.3);
  }
  
  .por-circle .por-right-arrow::after {
      position: absolute;
      width: 1px;
      height: 15px;
      left: 1202px;
      right: 148px;
      top: 600px;
      bottom: 100px;
      content: "";
      display: inline-block;
      transform: rotate(43deg);
      /* left: 13.18%;
      right: 86.23%;
      top: 30.36%;
      bottom: 69.42%; */
  
  
      background: #F9CC11;
  }
  
  .por-circle .por-right-arrow::before {
  
      position: absolute;
      width: 1px;
      height: 15px;
      left: 1202px;
      right: 148px;
      top: 589px;
      bottom: 100px;
      /* left: 86.83%; */
      /* right: 12.59%; */
      /* top: 30.58%; */
      /* bottom: 69.21%; */
      background: #F9CC11;
      content: "";
      display: inline-block;
      transform: rotate(140deg);
  }
  
  .por-circle .por-left-arrow::after {
      position: absolute;
      width: 1px;
      height: 15px;
      left: 148px;
      right: 1000px;
      top: 600px;
      bottom: 100px;
      content: "";
      display: inline-block;
      transform: rotate(-43deg);
      /* left: 13.18%;
  right: 86.23%;
  top: 30.36%;
  bottom: 69.42%; */
  
  
      background: #F9CC11;
  }
  
  .por-circle .por-left-arrow::before {
      position: absolute;
      width: 1px;
      height: 15px;
      left: 148px;
      right: 1000px;
      top: 589px;
      bottom: 100px;
      content: "";
      display: inline-block;
      transform: rotate(-140deg);
      /* left: 13.18%;
      right: 86.23%;
      top: 30.36%;
      bottom: 69.42%; */
  
  
      background: #F9CC11;
  }